<div class="texture-image cover">
    <header>
        <md-toolbar class="header-bar">
            <div class="md-toolbar-tools black-bg">
                <a href="#!/">
                    <img class="header-img" ng-src="Images/logo.png">
                </a>
            </div>
            <div class="pull-right-name" ng-show="model.user.username">
                <md-menu ng-show="model.user" md-offset="1000 40">
                    <span md-autofocus
                          ng-mouseenter="$mdMenu.open()"
                          class="margin-right">
                        <i class="fa fa-bars"></i>
                        {{model.user.username}}
                    </span>
                    <md-menu-content direction="down"
                                     ng-mouseleave="$mdMenu.close()">
                        <md-menu-item>
                            <md-button href="#!/user">
                                <md-icon class="glyphicon glyphicon-user">
                                </md-icon>
                                Profile
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="model.logout()">
                                <md-icon class="glyphicon glyphicon-log-out">
                                </md-icon>
                                Logout
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </div>
        </md-toolbar>
    </header>

    <md-card class="md-style">
        <md-content layout-padding class="texture-image">
            <div ng-repeat="order in model.orders">
                Order by '{{order.name}}' from {{order.restName}}: <a
                    href="#!/restaurant/{{order.restId}}/bill/{{order._id}}">{{order._id}}</a>
                <span>
                    <span class="md-icon-button glyphicon glyphicon-trash "
                          ng-click="model.removeOrder(order)">
                    </span>
                </span>
            </div>
        </md-content>
    </md-card>
</div>