<div class="home-cover">
    <div class="home-cover-visibility"></div>
    <header>
        <md-toolbar class="header-bar">
            <div class="md-toolbar-tools black-bg">
                <a href="#!/">
                    <img class="header-img" ng-src="Images/logo.png">
                </a>
                <div layout="row"
                     class="pull-right-name"
                     ng-show="!model.user">
                    <md-button href="#!/login">
                        <label>Log In</label>
                    </md-button>
                    <md-button href="#!/signup">
                        <label>Sign Up</label>
                    </md-button>
                </div>

                <div ng-show="model.user" class="pull-right-name">
                    <md-menu ng-show="model.user" md-offset="100 40">
                        <span md-autofocus aria-label="Open menu with custom trigger"
                                   ng-mouseenter="$mdMenu.open()"
                                   href="#!/user/{{model.userId}}"
                                   class="margin-right">
                            <i class="fa fa-bars" aria-hidden="true"></i>
                            {{model.user.username}}
                        </span>
                        <md-menu-content direction="down" width="1" ng-mouseleave="$mdMenu.close()">
                            <md-menu-item>
                                <md-button href="#!/user">
                                    <md-icon class="glyphicon glyphicon-user">
                                    </md-icon>
                                    Profile
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button ng-click="model.logout()">
                                    <md-icon class="glyphicon glyphicon-log-out">
                                    </md-icon>
                                    Logout
                                </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                </div>
            </div>
        </md-toolbar>
    </header>


    <div layout="column" class="block-style" flex>
        <div layout="column" layout-align="center center" flex>
            <md-card class="md-card-style">
                <div layout="column" layout-align="center center" layout-padding>
                    <span layout="column" layout-align="center center"></span>
                    <p class="text-style"><strong>Explore | Like | Review | Follow </strong></p>
                    <md-card-actions layout="row" class="card-actions">
                <span class="padding-right" flex>

                <md-input-container class="md-block">
                    <label class="white-text x-large-text">Search</label>
                    <input class="white-text form-control"
                           ng-model="search.place"
                          type="text"
                          placeholder="Cakes, Tacos, Pizza">
                    </input>
                </md-input-container>
                    </span>

                <md-input-container class="md-block">
                    <label class="white-text x-large-text">City</label>
                    <input class="white-text form-control"
                           type="text"
                           ng-init="search.city='Seattle'"
                           ng-model="search.city"
                           ng-autocomplete="search.city">
                </md-input-container>
                    </span>
                        <md-button ng-click="model.searchPlace(search.place,search.city)"
                                   class="md-icon-button md-primary "
                                  aria-label="search">
                            <span class="glyphicon glyphicon-search top-margin white-text"
                                  aria-hidden="true">
                            </span>
                        </md-button>
                    </md-card-actions>

                    <div layout="row">

                        <div ng-click="model.getPizza()" class="pizza-pos" >
                            <img ng-src="Images/pizza.svg" width="40px" height="40px">
                        </div>

                        <span ng-click="model.getCoffee()" class="pizza-pos">
                            <img ng-src="Images/coffee-cup.svg" height="40px" width="40px">

                        </span>
                        <span ng-click="model.getBurger()" class="pizza-pos">
                            <img ng-src="Images/cheeseburger.svg" height="40px" width="40px">
                        </span>

                        <span ng-click="model.getDrinks()" class="pizza-pos">
                            <img ng-src="Images/lemonade.svg" height="40px" width="40px">
                        </span>

                    </div>
                </div>
            </md-card>
        </div>
    </div>
</div>
</div>

